* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.sections__bg {
    background: linear-gradient(180deg, #CCDDFE 0%, #FFF 100%);
}

/* BURGER */

.menu>li {
    overflow: hidden;
}

.burger-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#burger {
    display: none;
}

.button-burger,
.button-burger::before,
.button-burger::after {
    display: block;
    background-color: #76c4d3;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.button-burger::before {
    content: '';
    margin-top: -8px;
}

.button-burger::after {
    content: '';
    margin-top: 8px;
}

#burger:checked+.burger-container .button-burger::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#burger:checked+.burger-container .button-burger {
    background: rgba(255, 255, 255, 0);
}

#burger:checked+.burger-container .button-burger::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* BURGER */

/* header */

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12.875rem;
    padding: 1.563rem 2.5rem;

}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo-name {
    font-size: 2.25rem;
    font-weight: 300;
    color: #000000;
}

.menu {
    display: flex;
    gap: 2.625rem;
}

.menu__link {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header-phone {
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.phone-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
}

/* end header */

/* greeting */

.greeting-container {
    background: url(./images/BG-greeting.png);
    background-size: cover;
}

.greeting_shadow {
    background: #00000066;
}

.greeting-main {
    color: #FFFFFF;
    padding: 7.063rem 20.313rem;
    text-align: center;
}

.greeting-header {
    font-size: 6rem;
    font-weight: 600;
}

.greeting-adress {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 2.813rem;
}

.greeting-main-description {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.description {
    font-size: 2rem;
    font-weight: 600;
}

/* end greeting */

/* services - карточки */

.services-container {
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.services-header {
    text-align: center;
    font-weight: 500;
    font-size: 2.25rem;
    padding-bottom: 2.5rem;
}

.services-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 0 10rem 3.75rem 10rem;
}

.card {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.563rem;
    align-items: center;
    border-radius: 0.625rem;
    background: #F9F9F9;
    padding: 2.5rem 1.563rem;
}

.card-header {
    font-size: 1rem;
    font-weight: 600;
}

.card-description {
    font-size: 0.875;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* конец services - карточки */

/* description 

.description-checklist {
    display: flex;
}

/* portfolio */

.portfolio-container {
    padding: 0 2.5rem 3.75rem 2.5rem;
}

.portfolio-header {
    font-size: 2.25rem;
    font-weight: 500;
    padding: 2.5rem 0;
    text-align: center;
}

.portfolio-photos {
    width: 100%;
    display: flex;
    gap: 5rem;
    padding-bottom: 2.5rem;
}

.portfolio-photos>img {
    width: 33%;
}

.photos-item {
    text-align: center;
}

.photos__link {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
    color: #000000;
}

/* end portfolio */

/* background grass */

.bg-grass {
    background: url(./images/grass.png);
    background-size: cover;
    padding-bottom: 100px;
}

/* end background grass */

/* footer */

.footer-container {
    background: url(./images/footer-BG.png);
    background-size: cover;
}

.footer_shadow {
    background: #00180D99;
}

.footer-contacts {
    display: flex;
    gap: 13.188rem;
    padding: 5.563rem 2.375rem 5.625rem 2.625rem;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;
}

.summary-item {
    display: flex;
    align-items: center;
    gap: 1.625rem;
    color: #FFFFFF;
}

.summary-line {
    width: 3.688rem;
    height: 0.313rem;
    background: #FFFFFF;
}

.summary-text {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.25rem;
    font-weight: 600;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.contacts-description {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
}

.contacts-phone {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    text-decoration: none;
}

.contacts-socials {
    display: flex;
    gap: 4.375rem;
}

.contacts-mail {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 600;
}